.logo {
  width: 15rem;
  height: 15rem;
  border-radius: 8rem;
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll_box {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #363636;
  color: white;
  padding: 0.02rem;
  text-align: center;
  overflow: hidden;
  word-spacing: 1rem;
}

.scrolling-text {
  white-space: nowrap;
  animation: scroll 3s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
