* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh; /* Set height to 100% of viewport height */
  background-image: url("src/assets/bg-nature.gif"); /* Path to your GIF file */
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  overflow-x: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.scroll_box {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #363636;
  color: white;
  padding: 0.02rem;
  text-align: center;
  overflow: hidden;
  word-spacing: 0.8rem;
}

.scrolling-text {
  white-space: nowrap;
  animation: scroll 3s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
