.timer {
  border: 1px black solid;
  color: red;
  height: 5rem;
  width: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  z-index: 1;
}
.inputContainer {
  z-index: 1;
  height: 5rem;
  position: absolute;
  bottom: 15%;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.inputContainer input{
  height: 5rem;
  width: 20rem;
  margin-top: 0.5rem;
  border: none;
}

.btnTimer {
  position: absolute;
  top: 25%;
  left: 40%;
  z-index: 1;
}

.btnTimer button {
  border-radius: 50%;
  background-color: red;
  height: 300px;
  width: 300px;
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.btnTimer button:before {
  background: black;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  bottom: 1px;
  right: 1px;
  height: 300px;
  width: 300px;
  opacity: 0;
  content: "";
  animation: pulse 1s infinite;
}
.btnTimer button :hover::before {
  animation: none;
  opacity: 0.4;
  transform: scale(1.3);
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}

